*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20%;
}

.container{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.texto{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}